<div id="todo-container" class="container pt-5">
  <section>
    <div class="row">
      <div class="col">
         <h1 class="title">Hoje</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="container-tasks">
          <i class="bi bi-check2-circle"></i>
          <span>{{tasks.length}} tarefa(s)</span>
        </div>
      </div>
    </div>
  </section>
  <section class="mt-4">
    <ul id="tasks-list" *ngIf="tasks.length > 0; else noTodo">
      <app-task 
        *ngFor="let task of tasks" 
        [task]="task"
        (deleteTask)="deleteTask(task)"
        (editTask)="editTask(task)"
      ></app-task>
    </ul>
    <ng-template #noTodo>
      
      <p>Nenhuma Tarefa.</p>
    </ng-template>
    <button type="button" class="btn-plus">
      <span>
        <i class="bi bi-plus"></i>
      </span>
      <span class="btn-title">Adiconar Tarefa</span>
    </button>
  </section>
</div>
