@import '../../../../../assets/scss/index.scss';

#todo-container {
  max-width: 800px;
}

.title {
  font-size: 1.625rem;
  font-weight: bold;
}

#container-tasks {
  display: flex;
  gap: 5px;
  align-items: center;

  span {
    color: $todolist-p4-color;
    font-size: 0.875rem;
  }
}

.todo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-bottom: 1.5rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  transition: 0.2s;

  .container-icon {
    display: flex;
    gap: 12px;

    i {
      cursor: pointer;
      color: $todolist-p4-color;
    }

    i:hover {
      color: #202020;
    }
  }
}

.btn-plus {
  display: flex;
  align-items: center;
  color: grey;
  font-size: 0.875rem;
  cursor: pointer;
  border: none;
  background-color: transparent;


  i {
    border-radius: 50px;
    font-size: 1.2rem;
    color: $color-red;
  }

  .btn-title {
    margin-left: 0.5rem;
  }
}

.btn-plus:hover .btn-title { 
  color: $color-red;
}

.btn-plus:hover i { 
  background-color: $color-red;
  color: white;
}

.container-info {
  display: flex;
  flex-direction: column;
  gap: 5px;

  span {
    color: $todolist-p4-color;
    font-size: 0.75rem;
  }

}

.done {
  text-decoration: line-through;
  text-decoration-color: $color-dark-red;
}