/* You can add global styles to this file, and also import other style files */
@import '../src/assets/scss/index.scss';
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.border {
  border: 1px solid red !important;
}

.form-check-input, .form-check-label{
  cursor: pointer;
}

.form-check-input {
  border-radius: 1em !important;
  border: 1px solid #999 !important;
}

.form-check-input:checked {
  background-color: $color-red !important;
  border: 1px solid $color-dark-red !important;
}

.form-check-input:after {
  box-shadow: none !important;
}

.form-check-label {
  font-size: 0.875rem !important;
  color: #202020 !important;
}

